services:
  backend:
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - "5050:5050"
    environment:
      - GOOGLE_API_KEY=${GOOGLE_API_KEY}
      - WCS_URL=${WCS_URL}
      - WCS_API_KEY=${WCS_API_KEY}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      # key env variable add separatly
