#ipykernel
#ipywidgets
#PyMuPDF
#chromadb
#sentence-transformers
python-dotenv
langchain==0.1.20
langchain-community==0.0.38
langchain-text-splitters
Flask
gunicorn # heroku
openai
llama-index==0.14.7
weaviate-client==4.17.0
llama-index-vector-stores-weaviate==1.6.0
Babel
google-cloud-translate==3.24.0
protobuf==4.25.3