#ipykernel
#ipywidgets
#PyMuPDF
#chromadb
#sentence-transformers
python-dotenv
langchain==0.0.354
langchain_community
Flask
gunicorn # heroku
openai
llama-index
weaviate-client
llama-index-vector-stores-weaviate
Babel
google-cloud-translate